/*Header*/
.nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  @media (max-width: 640px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #1f2937;
      position: absolute;
      top: 64px;
      right: 0;
      width: 10rem;
      padding: 1rem;
      z-index: 40;
      border-bottom-left-radius: 10px;
      gap:0.5rem;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links a {
      padding: 0.5rem 0;
    }
  }
  